@charset "utf-8";
/* CSS Document */




@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) 
{
    ul.nav.navbar-nav.ns li a {
        font-size: 15px !important;
    }

    ul.nav.navbar-nav.ns li {
        padding: 0px 8px !important;
    }	

    .col-md-6 img {
        WIDTH: 100%;
    }

    .col-md-4.xs-6 img {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }

    ul.nav.navbar-nav.nq li a {
        font-size: 17px;
    }

    p.ag {
        font-size: 16px;
    }

    span.a1 {
        font-size: 27px;
    }
    .h4, h4 {
        font-size: 35px;
    }
    .container {
        padding: 0px 15px !important;
    }

}


@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) 
{

    ul.nav.navbar-nav.ns li {
        padding: 0px 26px !important;
    }	
    .container {
        padding: 0px 15px !important;
    }
}



@media only screen and (min-width :320px) and (max-width : 480px) and (orientation : portrait) 
{

    .col-md-4.xs-6 img {
        width: 100% !important;
        margin-left: 0% !important;
        margin-top: 0% !important;
    }	

    .col-md-12.ct img {
        width: 90%;
    }

    .col-md-6 img {
        width: 100%;
    }
    ul.nav.navbar-nav.nq li a {
        background-color: #fff;
        border-right: 1px solid;
        borer: 1px;
        border-color: #cfd0d1;
        /* height: 12px; */
        color: #000;
        padding: 0px 0px 0px 0px;
        font-size: 8px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    p.a3 {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif; 
    }
    .container {
        padding: 0px 15px !important;
    }
}



@media only screen and (min-width :320px) and (max-width : 480px) and (orientation : landscape) 
{

    .col-md-4.xs-6 img {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    .col-md-5 img {
        width: 100%;
    }
    .col-md-6 img {
        width: 100%;
    }

    .container {
        padding: 0px 15px !important;
    }

}


@media only screen and (min-width :320px) and (max-width : 568px) and (orientation : landscape) 
{

    .col-md-4.xs-6 img {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    .col-md-5 img {
        width:100%;
    }

    .col-md-6 img {
        width: 100%;
    }

    .container {
        padding: 0px 15px !important;
    }

}

@media only screen and (min-width :375px) and (max-width : 667px) and (orientation : landscape) 
{

    .col-md-4.xs-6 img {
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    .col-md-5 img {
        width:100%;
    }

    .col-md-6 img {
        width: 100%;
    }
    .container {
        padding: 0px 15px !important;
    }

}