@charset "utf-8";
/* CSS Document */
body{
    background-color:#fafbfc; 
    background:url(img/bg.png)no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    margin: 0 auto;
    min-height: 822px;
    width: 100%;
}
nav.nc {
    background-color: #fafbfc;
    border: none;
}

ul.ns {
    background-color: #f0fcfd;}


.container-fluid.a4 {
    background-color: #fff;
}	


ul.nav.navbar-nav.ns li {
    padding: 0px 28px;
}	

ul.nav.navbar-nav.ns li a {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}
.ct {
    text-align: center;
    padding: 16px 0px;
}	

ul.nav.navbar-nav.nq li a {
    background-color: #fff;
    border-right: 1px solid;
    border: 1px;
    border-color: #cfd0d1;
    color: #000;
    padding: 3px 4px 3px 6px;
    font-size: 14px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.nav.navbar-nav.nq {
    margin: 26px auto 5px;
    text-align: center;
    width: 100%;
}

ul.nav.navbar-nav.nq li {
    display: inline-block;
    float: none;
}



p.ag {
    text-align: center;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
span.a1 {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

input.a2 {
    text-align: center;
    margin: 24px 55px;
    border-radius: 3px;
    border: 1px solid #848586;
}
p.a3 {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}
.sc {
    margin:0px 0px;
}

.se {
    margin: 0px 0px;
}


.col-md-4.xs-6 img {
    margin-left: 7%;
    margin-top: -22%;
    width: 100%;
}

.nav.navbar-nav.nq > li:last-child a {
    border-right: medium none;
}
.form-group {
    margin-bottom: 5px !important;
}
label {
    font-size: 13px;
}

.quick_search .col-md-4 {
    padding-right: 5px;
    padding-left: 1px;
    text-align: right;
}
.quick_search .col-md-12 {
    padding: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.quick_search .s_input {
    padding: 0 !important;
}
.quick_search select {
    background: #fff;
}

.container {
    padding: 10px 100px;
}

.panel-heading {
    font-weight: bold;
    //text-align: center;
}

.active_c {
    background-color: #ddd;
    font-weight: bold;
    font-size: 18px
}
.radio_btns {
    overflow: auto;
}
.body-reg-bld {
    font-weight: bold;
}
.body-reg-sml {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.form-comment {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}
.line_divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.form-section {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    color: #808080;
    text-decoration: none;
}
.form-label {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
div.desc_content {
    background-color: #000;
    color: #FFF;
    font: bold 11px verdana;
    padding-left: 10px;
    padding-top: 7px;
    height: 23px; opacity: 0.7;
    position: relative; 
    top: -23px;
}
div.wrapper{
    float: left;
    position: relative;
    margin: 10px;
}
.videos_class iframe {
    width: 100%;
    height: 100px;
}
.videos_class.account iframe {
    width: 100%;
    height: 150px;
}
.breadcrumb {
    padding: 0px 15px;
    margin: 5px 0px;
}
div.wrapper.account img{
    height: 150px !important;
}
.tbl_username {
    padding: 10px;
    background-color: #ddd;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
.user_info {
    padding: 10px;
}

.icon-class {
    background-color: #000;
    padding: 10px;
    border-radius: 30px;
}

.photo_thumbnail {
    height: 60px;
    width: 60px;
}

.img-medium {
    width: 140px;
    height: 106px;
}

/* Custom css */

.question_heading{
    font-size: 16px;
}
#country-list{    
    padding-left: 1px;
    margin-left: 0px;
    list-style: outside none none;
    position: absolute;
    width: 50%;}
#country-list> li{
    padding: 4px;
    background: none repeat scroll 0 0 #dddddd;
    cursor: pointer;
}  
.right_breadcrumb{
    float: right;
}
li.right_breadcrumb:before {
    display: none;
}

/* Worng css */
.match .col-md-6.body.type {
    margin-top: -4%;
}

.match .col-md-6.ethnicity {
    margin-top: -30%;
}

.match .col-md-6.income {
    margin-top: -43%;
}
.match .col-md-6.smoker {
    margin-top: -17%;
}
.match .col-md-6.marital.status {
    margin-top: -17%;
}
.match .col-md-6.want.children {
    margin-top: -22%;
}


/* About page */ 

.about .col-md-6.languages {
    margin-top: -14%;
}
.about .col-md-6.education {
    margin-top: -28%;
}
.about .col-md-6.occupation {
    margin-top: -4%;
}
.about .col-md-6.marital.status {
    margin-top: -15%;
}
.about .col-md-6.want.children {
    margin-top: -20%;
}

/* Worng css end */

.profilematchp{
    font-size: 14px;
    float: right;
    color: red;
    margin-right: 42%;
        
}



/* Custom css end */